
%section.demo.full.about{ id: 'about-me' }
  %header
    About the Author
  .inner
    %img{ src: image_path('me2.jpg') }
    .content
      %h2
        Yo, I'm Brian Gonzalez.
      .blurb
        %p
          :markdown
            Hey guys! I built [Pep](/) in the deep, cold California Winter of '12. At the time, I was building out [Geni's](http://geni.com) version of their [HTML5 Tree](https://www.geni.com/family-tree/html5?minimal=1#100594125), which we wanted to work in all browsers from IE6 to mobile. And although Geni's HTML5 Tree doesn't work in all of those browsers, I've worked hard to make sure Pep supports browsers all the way back to IE6. Don't believe me? Well then [clone](https://github.com/briangonzalez/jquery.pep.js/) the repo or watch [this YouTube video](https://github.com/briangonzalez/jquery.pep.js/).

        %h3
          Find me on the webs
        %p
          :markdown
            Swing by [my site](http://briangonzalez.org), check out what I am [hacking on](https://github.com/briangonzalez), view [some pixels](http://dribbble.com/brianmgonzalez), [email me](mailto:me@briangonzalez.org) with any questions you may have, or shout at me on Twitter below.

        %p
          <a href="https://twitter.com/brianmgonzalez" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @brianmgonzalez</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

          <a href="https://twitter.com/share" class="twitter-share-button" data-text="jquery.pep.js: kinetic drag for mobile &amp; desktop #jquery" data-via="brianmgonzalez" data-size="large" data-hashtags="pepjs" data-dnt="true">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>