%section.demo.about.full
  %header
    What is jquery.pep.js?
  .inner
    :markdown
      __jquery.pep.js__ is a lightweight jQuery plugin which turns any DOM element into a draggable object.  It works across mostly all browsers, from old to new, from touch to click. I built it to serve a need in which jQuery UI's draggable was not fulfilling, since it didn't work on touch devices (without some hackery).

      All of Pep's options are outlined on Github, so [take a look](https://github.com/briangonzalez/jquery.pep.js). Feel free to [email me](mailto:me@briangonzalez.org) with any questions you may have, or [request a feature](#feature-request) below.

    %p
      Also, check out all of the <a href="#demo-basic">demos</a> below. Click on the 
      %i.icon-codepen
      icon to go straight to the demo on Codepen, where you can see exactly how each demo is made. Enjoy!