%p.chromeframe
  You are using an outdated browser. 
  %a{ :href => "http://browsehappy.com/"}
    Upgrade your browser today
  or 
  %a{ :href => "http://www.google.com/chromeframe/?redirect=true"} 
    install Google Chrome Frame 
  to better experience this site.