%footer
  - if false
    = "#{app(:site)} | © #{Time.now.year.to_s}" 

  %p
    Made with ❤ in sunny SoCal. <strong>Find me:</strong></br>

    %a{ :href => 'http://briangonzalez.org' }
      Web </br>
    %a{ :href => 'http://twitter.com/brianmgonzalez' }
      Twitter </br>
    %a{ :href => 'http://dribbble.com/brianmgonzalez' }
      Dribbble </br>
    %a{ :href => 'https://github.com/briangonzalez' }
      Github
