.color-bar

%header.mast

  .circle-wrap
    .circle.secondary
    .circle.primary

  %img{ class: "h1", src: image_path('pep.svg') }

  %h2
    = "#{app(:tagline)} - v#{version}"

  %nav
    %a.icon-github{ href: app(:github_url), target: '_blank' }
    %a.icon-twitter{ href: "http://twitter.com/#{app(:twitter)}", target: '_blank' }
    %a.icon-cdn.cdn-modal-show{ href: app(:cdn_url) }
