
%meta{:charset => "utf-8"}
%link{:href => image_path('favicon.png'), :rel => "shortcut icon"}

%title= "#{app(:site)} | #{@title_tertiary || @title}"
%meta{:content => app(:description), :name => "description"}
%meta{:content => "width=device-width", :name => "viewport"}

/ Bring in our own styles
%link{:href => stylesheet_path('bootstrap'), :media => "all", :rel => "stylesheet"}

/ Google Web Fonts, use 'em..
%link{:href => "//fonts.googleapis.com/css?family=#{app(:google_fonts).join('|')}", :media => "all", :rel => "stylesheet"}

// Javascript includes
%script{:src => '/javascripts/lib/require.js', 'data-main' => '/javascripts/config.js' }