.social
  <a href="https://twitter.com/share" class="twitter-share-button" data-text="jquery.pep.js: kinetic drag for mobile &amp; desktop #jquery" data-via="brianmgonzalez" data-hashtags="pepjs" data-dnt="true" data-size='large'>Tweet</a>

  <iframe src="http://ghbtns.com/github-btn.html?user=briangonzalez&repo=jquery.pep.js&type=watch&count=true&size=large"
  allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>