%section.demo.full
  %header
    Usage
  .inner

    %h4
      Grab Pep via 
      <a href='http://bower.io/'>bower</a> or  
      <a href='#' class='cdn-modal-show'>grab from CDN</a>:
    %pre
      %code
        $ bower install jquery.pep

    %h4 Then plug into page and initialize:
    %pre
      %code
        = preserve do
          :escaped
            <script src="jquery.js"></script>
            <script src="dist/jquery.pep.min.js"></script>
            <script>
              jQuery(function($) {
                // pep is super simple...but there are wayyy
                // more options doc'd on github.
                $('#pep').pep(); 
              });
            </script>