

:markdown
  ## What is origin? {: .section }

  This is your content, your meat & potatoes. The [HTML5 spec](http://www.w3.org/TR/2011/WD-html5-20110525/) introduced the idea of _aria roles_, and all of your "content" has the aria role of `main`, which functions as the main content of a document.

  [_See_ the HTML5 Spec](http://www.w3.org/TR/2011/WD-html5-20110525/){: class="button"} 

  This marks the content that is directly related to or expands upon the central topic of the document. The main role is a non-obtrusive alternative for "skip to main content" links, where the navigation option to go to the main content (or other landmarks) is provided by the user agent through a dialog or by assistive technologies. User agents SHOULD treat elements with the role of main as navigational landmarks. Within any document or application, the author SHOULD mark no more than one element with the main role.

  ## Blockquotes {: .section }
  Blockquotes are styled to be clean, readable, with a nice callout.
  > _We cannot teach people anything; we can only help them discover it within themselves._  
  > __- Galileo__{: .tertiary} 

  Then we continue on our rant.

  ## Code Blocks {: .section }

  Why not some example [JS](http://en.wikipedia.org/wiki/JavaScript)?

      // let's look at some javascript
      $(document).ready(function(){
        var say = 'word.';
        console.log(say) // oops, no semicolon.
      });

  See how I omitted that semi-colon there? Also, did I mention origin has baked in code highlighting using prettify JS?

  ### This is a normal header
  ### This is a tertiary header                          {: .tertiary }

  _This_ is a paragraph with some _emphasized_ text and some **strong** text, and how about a [link](http://briangonzalez.org)?

  ## Others features {: .section }

  Some other features include:

  - Susy grid (hold shift for 300ms to toggle grid) [?](http://susy.oddbird.net/)
  - HTML5 boilerplate [?](http://html5boilerplate.com/)
  - Sass & Compass [?](http://sass-lang.com/)
  - Markdown & Haml [?](http://daringfireball.net/projects/markdown/)
  - Code highlighting [?](http://code.google.com/p/google-code-prettify/)
  - and more...

  ## Let's keep moving the web forward {: .section }

  origin was built with ease-of-use in mind -- bringing the best conventions from front to backend into a single Sinatra project. Use it if you like, move along if you don't.


  [Github](#){: class="button"} [Twitter](#){: class="button"}