

:markdown
  **r∞tstrap**: a concoction of root + bootstrap, with an [∞](http://en.wikipedia.org/wiki/Infinity) in there to look cool. This small <strike>framework</strike> set of conventions & best-practices built on top of Sinatra will get you up and running in no time.

  ## Let's investigate

  This is your content, your meat & potatoes. The HTML5 spec introduced the idea of _aria roles_, and all of your "content" has the aria role of `main`, which functions as the main content of a document.

  This marks the content that is directly related to or expands upon the central topic of the document. The main role is a non-obtrusive alternative for "skip to main content" links, where the navigation option to go to the main content (or other landmarks) is provided by the user agent through a dialog or by assistive technologies. User agents SHOULD treat elements with the role of main as navigational landmarks. Within any document or application, the author SHOULD mark no more than one element with the main role.

  ## Blockquotes
  Blockquotes are styled to be clean, readable, with a nice callout.
  > _We cannot teach people anything; we can only help them discover it within themselves._ </br> -Galileo 

  Then we continue on our rant.

  ## Code Blocks

  Why not some example JS?

      // let's look at some javascript
      $(document).ready(function(){
        var say = 'word.';
        console.log(say) // oops, no semicolon.
      });

  See how I omitted that semi-colon there? Also, did I mention r∞tstrap has baked in code highlighting using prettify JS?


  ## This is an H2
  ### This is an H3
  #### This is an H4
  ##### This is an H5
  ###### This is an H6
  And you've already seen a FitText'd H1 at the top of this page. This is a paragraph with some _emphasized_ text and some **strong** text, and how about a [link](http://briangonzalez.org)?

  ## Others features

  Some other features include:

    * Susy grid (hold shift for 3ms to toggle grid)
    * HTML5 boilerplate
    * Readable Google fonts (w/ FitText'd H1)
    * Sass & Compass
    * Markdown & Haml
    * Code highlighting

  ## Let's keep moving the web forward

  r∞tstrap was built with ease-of-use in mind -- bringing the best conventions from front to backend into a single Sinatra project. Use it if you like, move along if you don't.