

:markdown

  ### What is origin?

  A small framework, nay, set of conventions & best practices for getting a Sinatra App up & running quickly.

  [link #1](#){: class="button"} [link #2](#){: class="button"}