
= partial :'partials/about_pep'

%section.demo.full
  %header
    Usage
  .inner
    %pre
      %code
        = preserve do
          :escaped
            <script src="jquery.js"></script>
            <script src="dist/jquery.pep.min.js"></script>
            <script>
              jQuery(function($) {
                // pep is super simple...but there are wayyy
                // more options doc'd on github.
                $('#pep').pep(); 
              });
            </script>

/ Populate all of the demos.
- demos.each_with_index do |demo, index|
  - index += 1
  = partial :'partials/demo', locals: { demo: demo, index: index  }

%section.demo.full.bugs
  %header
    Found a bug?
  .inner
    %h2
      %a{ href: 'https://github.com/briangonzalez/jquery.pep.js/issues', target: '_blank' }
        File an issue on Github, por favor

%section.demo.full.feature-request{ id: 'feature-request' }
  %header
    Request a Feature
  .inner
    <iframe src="https://docs.google.com/forms/d/1UR-mt430yOjJlQTPKL1vah4LzvCIBN6BT82ZfMZeKxI/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

= partial :'partials/about'