
%section.demo.full
  %header
    Usage
  .inner

- 6.times do |i|
  %section.demo
    %header
      %i.icon-fullscreen
      %i.icon-codepen
      Demo #1: Basic
    .inner
      <iframe src="http://s.codepen.io/briangonzalez/fullpage/juGfr" id="result" frameborder="0" scrolling="auto" allowtransparency="true" sandbox="allow-scripts allow-same-origin"></iframe>

%section.demo.full.feature-request
  %header
    Request a Feature
  .inner

%section.demo.full.about
  %header
    About the Author
  .inner
