#main{

  a.button, a.button:visited {
    background: $primary-color;
    color:      white; 
    padding:    5px 40px;
    display:    inline-block;
    margin:     0.4em 0.2em 0 0;
    text-align: center;
    @include border-radius($button-border-radius);

    @include single-transition(all, 300ms);
    display: block;
    float: none;

    @include query-at($break-2){
      display: inline-block;
      margin:     0.4em 0.2em 0 0;
    }
  }

  a.button:hover                     {
    background: desaturate($secondary-color - 100, 10%);
    color: white;
  }

  button:active, 
  .button:active {
    @include single-transition(all, 0s);
    @include transform( translateY(3px) );
  }

}