@import 'partials/prettify';

#main{
  pre{
    margin-top: 0;
    margin-bottom: $base-line-height;

    @include query-at($break-4){ @include span-columns(12,12); @include push(1); }

    code{
      padding: $gutter-width;
      display: block;
      border: 1px solid $lightgrey + 20;
      background: $bg-color + 10;
      overflow: auto;
      @include border-radius(2px);
      @include box-sizing(border-box);

      @include query-at($break-4){ 
        @include span-columns(10,11);
        font-size: inherit; 
      }

    }
  }

  code{
    background: $lightgrey + 30;
    padding: 3px 5px;
    border: 1px solid $lightgrey;
    @include border-radius(3px);
    margin: 3px;
  }
}