//
//    The New BulletProof @font-face syntax.
//    http://www.fontspring.com/blog/the-new-bulletproof-font-face-syntax
//




//
//      #=> CODE
//


        @font-face {
            font-family: 'Source Code';
            src: font_url('SourceCodePro-Regular.eot');
            src: font_url('SourceCodePro-Regular.eot?#iefix')   format('embedded-opentype'),
                 font_url('SourceCodePro-Regular.woff')  format('woff'),
                 font_url('SourceCodePro-Regular.ttf')   format('truetype'),
                 font_url('SourceCodePro-Regular.svg')   format('svg');
            font-weight: normal;
            font-style: normal; }

