header { 

  $header-h1-background: desaturate($secondary-color + 10, 3%);

  h1{  
    margin-bottom: $base-line-height / 2.2;
    padding: $base-line-height/3 0 ;
    line-height: normal;
    font-family: "Montserrat", Arial, 'sans serif';
    letter-spacing: 3px;

    color: $header-h1-background - 130;
    position: relative;

    @include text-shadow(0.025em 0.04em 1px $secondary-color - 40);
    @include border-radius(0 1px 1px 0);

    font-size: 5em;
    @include query-at($break-2){ font-size: 8em; }
    @include query-at($break-4){ font-size: 9em; }
    @include query-at($break-5){ font-size: 10em; }

    .byline{
      font-size: 0.2em;
      letter-spacing: 2px;
      font-family: $base-heading-font;
      font-weight: bold;
      font-family: $base-heading-font;
      text-shadow: none;
      margin-top: 1em;

      @include query-at($break-2){ 
        font-size: 0.1em;
        @include span-columns(11,12);
        @include prefix(1);
      }
      @include query-at($break-5){ font-size: 0.08em; }

      .tertiary{
        @extend h6.tertiary;
        text-transform: none;
      }
    }
  }

  h1:before{
    content: "";
    position: absolute;
    background: $header-h1-background;  /* Match the background */
    top: -3000px; left: -1000px; right: -1000px;
    bottom: 0;
    width: 9999px;   /* some huge width */
    z-index: -1;
  }

  h1:before{
    right: 100%;
  };

  h1:after{
    //left: 100%;
  };

  margin-top: $base-line-height*2; 
}