
header.mast{
  position: relative;
  @include container;
  @include clearfix;
  text-align: center;
  overflow: visible;
  padding-top:    $base-space*2;
  padding-bottom: $base-space*2;

  @include query-at($break-1) { padding-bottom: $base-space*3; padding-top: $base-space*3; }    
  @include query-at($break-2) { padding-bottom: $base-space*4; padding-top: $base-space; } 
  @include query-at($break-3) { padding-bottom: $base-space*5; padding-top: $base-space; } 

  .h1{
    width: 100%;
    opacity: 0.8;
  }

  h2{
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 5px;
    color: $lightgrey - 70;
    font-size: 1.1em;
    position: relative;

    @include query-at($break-1) { font-size: 1.3em; color: $lightgrey - 40; }    
    @include query-at($break-2) { font-size: 1.2em; }  
  }

  .pep-size{
      color: $lightgrey - 50;
      display: inline-block;
      padding: 5px 0;
      letter-spacing: 0;
      font-weight: bold;
      font-size: 1.2em;
      position: absolute; top: 20px; right: 0;

      .tag{
        font-size: 0.15em;
        letter-spacing: 1px;
        line-height: 1;
        color: $lightgrey - 20;
        text-transform: uppercase;

        &:first-letter{ text-transform: none; };
      }

      @include query-at($break-1) { padding: 10px 5px; }  

    }

  .circle-wrap{
    margin: 20px auto 80px auto;
    height: 150px; width:  150px;
    position: relative;

    @include query-at($break-1) { height: 200px; width:  200px; margin: 100px auto 150px auto; }
    @include query-at($break-2) { height: 250px; width:  250px; margin: 100px auto 175px auto; }

    .circle{
      background: $lightgrey;
      width: 150px;
      height: 150px;
      float: left;
      @include border-radius(150px);
      opacity: 0.01;
      cursor: move;
      @include transition(all 300ms ease-out);

      &.primary     { 
        background-color: $primary-color; 
        @include box-shadow( 
          -1px 1px 0px $primary-color - 5,  
          -2px 2px 0px $primary-color - 5,
          -3px 3px 0px $primary-color - 5
          );
        border: 2px solid $primary-color + 5;
        z-index: 4; 
      }

      &.secondary   { 
        background: $secondary-color;
        @include box-shadow( 
          -1px 1px 0px $secondary-color - 5,  
          -2px 2px 0px $secondary-color - 5,
          -3px 3px 0px $secondary-color - 5
          );
        border: 2px solid $secondary-color + 5;
        z-index: 5; 
      }

      &.shown         { opacity: 0.95; } 
      &.no-animation  { @extend .no-animation; }
      &.translateRight{ @include transform(translateX(15%));  }
      &.translateLeft { @include transform(translateX(-15%)); }

      @include query-at($break-1) { height: 200px; width:  200px; }
      @include query-at($break-2) { height: 300px; width:  300px; }

    }
  }

  &:before{
    content: '';
    position: absolute;
    top: -1000px;
    right: -1000px;
    bottom: 0;
    left: -1000px;
    background: white;
    z-index: -1;
  }

  nav{
    margin-top: $base-space*2;

    a { 
      font-size: 2.2em;
      margin-right: $base-space;  
      color: $darkgrey + 70;
      cursor: pointer;
      display: inline-block;
      background: none;
      @include transition(all 350ms ease);

      &:hover       { color: $darkgrey;  
                      background: none; 
                      @include transform( translateY(-2px) )}
      &:last-child  { margin-right: 0; }

      @include query-at($break-1) { 
        font-size: 2.5em;
        margin-right: $base-space*2;
      }
    }
  }
}

.rainbow{
  background: $third-color;
  height: 12px;
  position: absolute; top: 0; left: 0; right: 0;
  border-bottom: 3px solid $border-color;

  .box{ width: 8.3%; height: 100%; float: left; }
  .box-1{  background: #ffefc2; }  // orange
  .box-2{  background: #fee3c2; }
  .box-3{  background: #fed4c1; }
  .box-4{  background: #fdbec2; }
  .box-5{  background: #f4b8e3; }
  .box-6{  background: #d9b6f2; }
  .box-7{  background: #bab6f2; }
  .box-8{  background: #b6d3f2; }
  .box-9{  background: #b6f2f2; }
  .box-10{ background: #bff4b7; }
  .box-11{ background: #eefabc; }
  .box-12{ background: #fffdc0; }

}