/* 
 * LAYOUT
 * =================================================== */


header          { clear:both; }

.container      { 
  @include container; 
  max-width: 800px;
  &.show-grid{ @include susy-grid-background; }
}

#main           {  @include clearfix; }
footer          { clear:both; }
