#main{

  h1, h2, h3, h4, h5, h6{

    a, a:visited, a:hover, a:active{
      color: $base-headingfont-color;
      background: none;
    };

  }

  a, a:visited{
    padding: 2px;
    text-decoration: none;
    color: $primary-color;
    @include border-radius(2px);
    @include single-transition(all, 0.2s);
    font-weight: 400;

    &:hover{ color: $text-color + 20; background: $secondary-color + 10;}

  }
}