
//  Give all of our headings their own style.

@for $i from 1 through 6{
  h#{$i}.tertiary{ 
    font-family: $tertiary-heading-font;
    font-weight: 400; 
    font-style: italic;
  }
}

h2.section{
  font-weight:      400;
  letter-spacing:   2px;
}