<div class='dialog cdn animated fadeInDown'>
  <i class='icon-cdn'></i>
  <h2>Use Pep in your projects today</h2>
  <p>
    Use the file below in your projects to get up and running quickly.
  </p>
  <input value="//rawgithub.com/briangonzalez/jquery.pep.js/master/src/jquery.pep.js" data-type='bleeding edge'>
  <button class='close'>Close</button>
</div>
